@font-face {
    font-family: Libertinus Serif;
    src: url(LibertinusSerif-Regular.otf); 
}

* {
    font-family: Libertinus Serif, 'Arial', cursive;
}

.header {
    background-color: cornflowerblue;
    text-align: center;
}

.footer {
    background-color: #660000;
    text-align: center;
    color: white;
}